@import url("http://fonts.googleapis.com/css?family=Lato:300");
body {
  font-size: 20px;
  color: #333;
  font-family: 'Lato', sans-serif; }

.center {
  text-align: center; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.cont {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.block {
  display: block; }

.dark {
  background: #333;
  padding: 10px;
  border: 1px solid #111; }

pre {
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ccc; }

/*************************************
************* BOTONES ****************
*************************************/
.btn {
  border-radius: 20px;
  border-width: 2px;
  color: #5A5A5A;
  background: transparent;
  text-transform: uppercase;
  min-width: 100px;
  line-height: 36px;
  padding: 0 20px;
  border-color: #ccc;
  font-size: 16px; }

.btn.focus, .btn:focus, .btn:hover, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
  color: #FFF;
  background-color: #ccc;
  border-color: #ccc; }

.btn-primary, .btn-primary[disabled] {
  color: #2e6da4;
  border-color: #337ab7; }
  .btn-primary:hover, .btn-primary[disabled]:hover {
    background: #337ab7;
    border-color: #337ab7; }

.btn-success, .btn-success[disabled] {
  color: #4cae4c;
  border-color: #5cb85c; }
  .btn-success:hover, .btn-success[disabled]:hover {
    background: #5cb85c;
    border-color: #5cb85c; }

.btn-info, .btn-info[disabled] {
  color: #46b8da;
  border-color: #5bc0de; }
  .btn-info:hover, .btn-info[disabled]:hover {
    background: #5bc0de;
    border-color: #5bc0de; }

.btn-warning, .btn-warning[disabled] {
  color: #eea236;
  border-color: #f0ad4e; }
  .btn-warning:hover, .btn-warning[disabled]:hover {
    background: #f0ad4e;
    border-color: #f0ad4e; }

.btn-danger, .btn-danger[disabled] {
  color: #d43f3a;
  border-color: #d9534f; }
  .btn-danger:hover, .btn-danger[disabled]:hover {
    background: #d9534f;
    border-color: #d9534f; }

.cl-flat {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px; }
  .cl-flat:hover {
    background: #e6e6e6;
    color: #fff; }

.btn-primary.cl-flat {
  color: #337ab7; }
  .btn-primary.cl-flat:hover {
    color: #fff;
    background: #337ab7; }

.btn-success.cl-flat {
  color: #449d44; }
  .btn-success.cl-flat:hover {
    color: #fff;
    background: #449d44; }

.btn-info.cl-flat {
  color: #5bc0de; }
  .btn-info.cl-flat:hover {
    color: #fff;
    background: #5bc0de; }

.btn-warning.cl-flat {
  color: #ec971f; }
  .btn-warning.cl-flat:hover {
    color: #fff;
    background: #ec971f; }

.btn-danger.cl-flat {
  color: #ac2925; }
  .btn-danger.cl-flat:hover {
    color: #fff;
    background: #ac2925; }

.btn-lg {
  padding: 0 36px;
  border-radius: 28px;
  line-height: 46px;
  font-size: 20px; }

.btn-sm {
  padding: 0px 16px;
  border-radius: 15px;
  line-height: 28px;
  font-size: 14px; }

.btn-xs {
  font-size: 11px;
  line-height: 20px;
  padding: 0 12px;
  border-radius: 10px; }

.btn[disabled] {
  opacity: 0.7;
  cursor: not-allowed; }

.btn-primary[disabled], .btn-success[disabled], .btn-info[disabled], .btn-warning[disabled], .btn-danger[disabled] {
  color: #FFF; }

/*************************************
*********** FORMULARIOS **************
*************************************/
.form-control {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border-radius: 0;
  padding-left: 3px;
  font-size: 20px;
  height: 38px; }

.form-control:focus {
  outline: 0px;
  border-color: #555; }

.form-group label {
  font-weight: normal; }

textarea.form-control, select[multiple] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px; }

textarea.form-control:focus {
  border: 1px solid #555; }

.help-block {
  font-size: 13px; }

.cl-dark .btn {
  color: #C6C6C6; }

.cl-dark .form-control {
  color: #fff; }

.cl-dark label {
  color: #fff; }

.cl-dark .form-control:focus, .cl-dark textarea.form-control:focus {
  outline: 0px;
  border-color: #fff; }

.cl-dark .help-block {
  color: #B2B2B2; }

.cl-icons i.fa {
  position: absolute;
  font-size: 40px;
  margin-top: 10px;
  color: #ccc; }

.cl-icons label, .cl-icons .form-control {
  margin-left: 40px; }

.form-horizontal .control-label {
  padding-top: 12px; }

input[type=checkbox], input[type=radio] {
  margin: 8px 0 0; }

.checkbox.cl-sm label, .radio.cl-sm label {
  font-size: 14px; }

.checkbox.cl-sm input[type=checkbox], .checkbox-inline.cl-sm input[type=checkbox], .radio.cl-sm input[type=radio], .radio-inline.cl-sm input[type=radio] {
  margin-top: 4px; }

/*# sourceMappingURL=clauss.css.map */
