.center {
	text-align: center;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.cont {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.cabecera {
}
.example {
	margin-bottom: 15px;
}
h1.cabecera {
	font-size: 100px;
	margin: 25px 0 20px;
}
p.cabecera {
	font-size: 24px;
}
h3 {
	margin-top: 30px;
	margin-bottom: 15px;
}
.cont {
	margin-bottom: 20px;
}
pre {
	margin-bottom: 20px;
}
.dark {
	background: #333;
	padding: 10px;
	border: 1px solid #111;
}