<!DOCTYPE html>
<html lang="es" ng-app="MyApp" ng-controller="ActiveClauss">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Tu Bootstrap de siempre pero un 'poco' diferente.">
	<meta name="author" content="César Aquino Maximiliano @cesjam7">
	<title>CLAUSS - Tu Bootstrap de siempre pero un "poco" diferente.</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Clauss core CSS -->
	<link rel="stylesheet" href="css/clauss.css{{ active.clauss }}">
	<!-- Otros archivos -->
	<link rel="stylesheet" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> 
	<link rel="stylesheet" href="https://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css">
	<script src="https://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
	<script>
		angular.module('MyApp', [])
		.controller('ActiveClauss', ['$scope', function($scope) {
			$scope.active = {
				clauss: ''
			};
		}]);
</script>
</head>
<body onload="prettyPrint()">
	<div class="cont" id="top">
		<h1 class="cabecera center">Clauss</h1>
		<p class="cabecera center">Tu Bootstrap de siempre pero un "poco" diferente.<br>&nbsp;</p>
		<label class="radio-inline">
		<input type="radio" ng-model="active.clauss" value=""> Usar Clauss sobre Bootstrap
		</label>
		<label class="radio-inline">
		<input type="radio" ng-model="active.clauss" value="other"> Usar solo Bootstrap
		</label>

	<!-- INICIO DE CODIGOS Y EJEMPLOS -->
	
	<div class="row">
		<div class="col-md-9">
			
			<!-- BOTONES -->
			
			<h3 id="botones">Botones</h3>
			<div class="example">
				<a class="btn" href="#" role="button">Link</a> &nbsp;
				<button class="btn" type="submit">Button</button> &nbsp;
				<input class="btn" type="button" value="Input"> &nbsp;
				<input class="btn" type="submit" value="Submit">
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show1"> Ver código
				</label>
			</div>
			<pre ng-show="show1"><code class="prettyprint lang-html">&lt;a class="btn" href="#" role="button"&gt;Link&lt;/a&gt;
&lt;button class="btn" type="submit"&gt;Button&lt;/button&gt;
&lt;input class="btn" type="button" value="Input"&gt;
&lt;input class="btn" type="submit" value="Submit"&gt;</code></pre>
			
			<!-- BOTONES CON OPCIONES -->
			
			<h3>Botones con opciones</h3>
			<div class="example">
				<button type="button" class="btn btn-default">Default</button> &nbsp;
				<button type="button" class="btn btn-primary">Primary</button> &nbsp;
				<button type="button" class="btn btn-success">Success</button> &nbsp;
				<button type="button" class="btn btn-info">Info</button> &nbsp;
				<button type="button" class="btn btn-warning">Warning</button> &nbsp;
				<button type="button" class="btn btn-danger">Danger</button> &nbsp;
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show2"> Ver código
				</label>
			</div>
			<pre ng-show="show2"><code class="prettyprint lang-html">&lt;button type="button" class="btn btn-default"&gt;Default&lt;/button&gt;
&lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;
&lt;button type="button" class="btn btn-success"&gt;Success&lt;/button&gt;
&lt;button type="button" class="btn btn-info"&gt;Info&lt;/button&gt;
&lt;button type="button" class="btn btn-warning"&gt;Warning&lt;/button&gt;
&lt;button type="button" class="btn btn-danger"&gt;Danger&lt;/button&gt;</code></pre>

			<!-- BOTONES SIN CAJA -->
			
			<h3>Botones sin caja</h3>
			<div class="example">
				<button type="button" class="btn btn-default cl-flat">Default</button> &nbsp;
				<button type="button" class="btn btn-primary cl-flat">Primary</button> &nbsp;
				<button type="button" class="btn btn-success cl-flat">Success</button> &nbsp;
				<button type="button" class="btn btn-info cl-flat">Info</button> &nbsp;
				<button type="button" class="btn btn-warning cl-flat">Warning</button> &nbsp;
				<button type="button" class="btn btn-danger cl-flat">Danger</button> &nbsp;
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show3"> Ver código
				</label>
			</div>
			<pre ng-show="show3"><code class="prettyprint lang-html">&lt;button type="button" class="btn btn-default cl-flat"&gt;Default&lt;/button&gt;
&lt;button type="button" class="btn btn-primary cl-flat"&gt;Primary&lt;/button&gt;
&lt;button type="button" class="btn btn-success cl-flat"&gt;Success&lt;/button&gt;
&lt;button type="button" class="btn btn-info cl-flat"&gt;Info&lt;/button&gt;
&lt;button type="button" class="btn btn-warning cl-flat"&gt;Warning&lt;/button&gt;
&lt;button type="button" class="btn btn-danger cl-flat"&gt;Danger&lt;/button&gt;</code></pre>
			
			<!-- TAMAÑO DE BOTONES -->
			
			<h3>Tamaño de Botones</h3>
			<div class="example">
				<p>
					<button type="button" class="btn btn-primary btn-lg">Large button</button> &nbsp;
					<button type="button" class="btn btn-default btn-lg">Large button</button>
				</p>
				<p>
					<button type="button" class="btn btn-primary">Default button</button> &nbsp;
					<button type="button" class="btn btn-default">Default button</button>
				</p>
				<p>
					<button type="button" class="btn btn-primary btn-sm">Small button</button> &nbsp;
					<button type="button" class="btn btn-default btn-sm">Small button</button>
				</p>
				<p>
					<button type="button" class="btn btn-primary btn-xs">Extra small button</button> &nbsp;
					<button type="button" class="btn btn-default btn-xs">Extra small button</button>
				</p>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show4"> Ver código
				</label>
			</div>
			<pre ng-show="show4"><code class="prettyprint lang-html">&lt;p&gt;
  &lt;button type="button" class="btn btn-primary btn-lg"&gt;Large button&lt;/button&gt;
  &lt;button type="button" class="btn btn-default btn-lg"&gt;Large button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type="button" class="btn btn-primary"&gt;Default button&lt;/button&gt;
  &lt;button type="button" class="btn btn-default"&gt;Default button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type="button" class="btn btn-primary btn-sm"&gt;Small button&lt;/button&gt;
  &lt;button type="button" class="btn btn-default btn-sm"&gt;Small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type="button" class="btn btn-primary btn-xs"&gt;Extra small button&lt;/button&gt;
  &lt;button type="button" class="btn btn-default btn-xs"&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;</code></pre>
			
			<!-- BOTONES BLOQUEADOS -->
			
			<h3>Botón disabled</h3>
			<div class="example">
				<button type="button" disabled="disabled" class="btn btn-default">Default</button> &nbsp;
				<button type="button" disabled="disabled" class="btn btn-primary">Primary</button> &nbsp;
				<button type="button" disabled="disabled" class="btn btn-success">Success</button> &nbsp;
				<button type="button" disabled="disabled" class="btn btn-info">Info</button> &nbsp;
				<button type="button" disabled="disabled" class="btn btn-warning">Warning</button> &nbsp;
				<button type="button" disabled="disabled" class="btn btn-danger">Danger</button> &nbsp;
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show5"> Ver código
				</label>
			</div>
			<pre ng-show="show5"><code class="prettyprint lang-html">&lt;button type="button" disabled="disabled" class="btn btn-default"&gt;Default&lt;/button&gt; &nbsp;
&lt;button type="button" disabled="disabled" class="btn btn-primary"&gt;Primary&lt;/button&gt; &nbsp;
&lt;button type="button" disabled="disabled" class="btn btn-success"&gt;Success&lt;/button&gt; &nbsp;
&lt;button type="button" disabled="disabled" class="btn btn-info"&gt;Info&lt;/button&gt; &nbsp;
&lt;button type="button" disabled="disabled" class="btn btn-warning"&gt;Warning&lt;/button&gt; &nbsp;
&lt;button type="button" disabled="disabled" class="btn btn-danger"&gt;Danger&lt;/button&gt;</code></pre>
			
			<!-- CAMPOS BASICOS -->
			
			<h3 id="formularios">Campos Básicos</h3>

			<!-- Formulario en sitios claros -->

			<div class="example">
				<form>
					<div class="form-group">
						<label for="input1">Correo electrónico:</label>
						<input type="email" id="input1" class="form-control" placeholder="Ingresa tu correo electrónico">
					</div>
					<div class="form-group">
						<label for="input2">Contraseña:</label>
						<input type="password" id="input2" class="form-control" placeholder="Contraseña">
					</div>
					<div class="form-group">
						<label for="input2">Descripción:</label>
						<textarea class="form-control" rows="3" placeholder="Ingresa una descripción"></textarea>
					</div>
					<div class="form-group">
						<label for="input3">Seleccionar archivo</label>
						<input type="file" id="input3">
						<p class="help-block">Ejemplo de texto de ayuda.</p>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Marcar la opción
						</label>
					</div>
					<div class="checkbox disabled">
						<label>
						<input type="checkbox" value="" disabled> Opción bloqueada
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" value="option1" checked> Opción 1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" value="option2"> Opción 2
						</label>
					</div>
					<div class="radio disabled">
						<label>
							<input type="radio" name="optionsRadios" value="option3" disabled> Opción bloqueada
						</label>
					</div>
					<button type="submit" class="btn btn-default">Enviar</button>
				</form>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show6"> Ver código
				</label>
			</div>
			<pre ng-show="show6"><code class="prettyprint lang-html">&lt;div class="form-group"&gt;
  &lt;label for="input1"&gt;Correo electrónico:&lt;/label&gt;
  &lt;input type="email" id="input1" class="form-control" placeholder="Ingresa tu correo electrónico"&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
  &lt;label for="input2"&gt;Contraseña:&lt;/label&gt;
  &lt;input type="password" id="input2" class="form-control" placeholder="Contraseña"&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
  &lt;label for="input2"&gt;Descripción:&lt;/label&gt;
  &lt;textarea class="form-control" rows="3" placeholder="Ingresa una descripción"&gt;&lt;/textarea&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
  &lt;label for="input3"&gt;Seleccionar archivo&lt;/label&gt;
  &lt;input type="file" id="input3"&gt;
  &lt;p class="help-block"&gt;Ejemplo de texto de ayuda.&lt;/p&gt;
&lt;/div&gt;
&lt;div class="checkbox"&gt;
  &lt;label&gt;
  	&lt;input type="checkbox"&gt; Marcar la opción
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class="checkbox disabled"&gt;
  &lt;label&gt;
  &lt;input type="checkbox" value="" disabled&gt; Opción bloqueada
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class="radio"&gt;
  &lt;label&gt;
  	&lt;input type="radio" name="optionsRadios" value="option1" checked&gt; Opción 1
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class="radio"&gt;
  &lt;label&gt;
  	&lt;input type="radio" name="optionsRadios" value="option2"&gt; Opción 2
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class="radio disabled"&gt;
  &lt;label&gt;
  	&lt;input type="radio" name="optionsRadios" value="option3" disabled&gt; Opción bloqueada
  &lt;/label&gt;
&lt;/div&gt;
&lt;button type="submit" class="btn btn-default"&gt;Enviar&lt;/button&gt;</code></pre>

			<!-- Formulario en sitios oscuros -->

			<div class="example dark">
				<form class="cl-dark">
					<div class="form-group">
						<label for="input1">Correo electrónico:</label>
						<input type="email" id="input1" class="form-control" placeholder="Ingresa tu correo electrónico">
					</div>
					<div class="form-group">
						<label for="input2">Contraseña:</label>
						<input type="password" id="input2" class="form-control" placeholder="Contraseña">
					</div>
					<div class="form-group">
						<label for="input2">Descripción:</label>
						<textarea class="form-control" rows="3" placeholder="Ingresa una descripción"></textarea>
					</div>
					<div class="form-group">
						<label for="input3">Seleccionar archivo</label>
						<input type="file" id="input3">
						<p class="help-block">Ejemplo de texto de ayuda.</p>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Marcar la opción
						</label>
					</div>
					<div class="checkbox disabled">
						<label>
						<input type="checkbox" value="" disabled> Opción bloqueada
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" value="option1" checked> Opción 1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" value="option2"> Opción 2
						</label>
					</div>
					<div class="radio disabled">
						<label>
							<input type="radio" name="optionsRadios" value="option3" disabled> Opción bloqueada
						</label>
					</div>
					<button type="submit" class="btn btn-default">Enviar</button>
				</form>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show7"> Ver código
				</label>
			</div>
			<pre ng-show="show7"><code class="prettyprint lang-html">&lt;form class="cl-dark"&gt;
    &lt;div class="form-group"&gt;
	  &lt;label for="input1"&gt;Correo electrónico:&lt;/label&gt;
	  &lt;input type="email" id="input1" class="form-control" placeholder="Ingresa tu correo electrónico"&gt;
	&lt;/div&gt;
	&lt;div class="form-group"&gt;
	  &lt;label for="input2"&gt;Contraseña:&lt;/label&gt;
	  &lt;input type="password" id="input2" class="form-control" placeholder="Contraseña"&gt;
	&lt;/div&gt;
	&lt;div class="form-group"&gt;
	  &lt;label for="input2"&gt;Descripción:&lt;/label&gt;
	  &lt;textarea class="form-control" rows="3" placeholder="Ingresa una descripción"&gt;&lt;/textarea&gt;
	&lt;/div&gt;
	&lt;div class="form-group"&gt;
	  &lt;label for="input3"&gt;Seleccionar archivo&lt;/label&gt;
	  &lt;input type="file" id="input3"&gt;
	  &lt;p class="help-block"&gt;Ejemplo de texto de ayuda.&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="checkbox"&gt;
	  &lt;label&gt;
	  	&lt;input type="checkbox"&gt; Marcar la opción
	  &lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="checkbox disabled"&gt;
	  &lt;label&gt;
	  &lt;input type="checkbox" value="" disabled&gt; Opción bloqueada
	  &lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="radio"&gt;
	  &lt;label&gt;
	  	&lt;input type="radio" name="optionsRadios" value="option1" checked&gt; Opción 1
	  &lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="radio"&gt;
	  &lt;label&gt;
	  	&lt;input type="radio" name="optionsRadios" value="option2"&gt; Opción 2
	  &lt;/label&gt;
	&lt;/div&gt;
	&lt;div class="radio disabled"&gt;
	  &lt;label&gt;
	  	&lt;input type="radio" name="optionsRadios" value="option3" disabled&gt; Opción bloqueada
	  &lt;/label&gt;
	&lt;/div&gt;
	&lt;button type="submit" class="btn btn-default"&gt;Enviar&lt;/button&gt;
&lt;/form&gt;</code></pre>
			
			<!-- CAMPOS DE SELECCION -->
			
			<h3>Campos de selección</h3>

			<!-- Combobox -->
			
			<div class="example">
				<select class="form-control">
					<option>Elige una opción</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show8"> Ver código
				</label>
			</div>
			<pre ng-show="show8"><code class="prettyprint lang-html">&lt;select class="form-control"&gt;
  &lt;option&gt;Elige una opción&lt;/option&gt;
  &lt;option&gt;2&lt;/option&gt;
  &lt;option&gt;3&lt;/option&gt;
  &lt;option&gt;4&lt;/option&gt;
  &lt;option&gt;5&lt;/option&gt;
&lt;/select&gt;</code></pre>

			<!-- Listados -->

			<div class="example">
				<select multiple class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show9"> Ver código
				</label>
			</div>
			<pre ng-show="show9"><code class="prettyprint lang-html">&lt;select multiple class="form-control"&gt;
  &lt;option&gt;1&lt;/option&gt;
  &lt;option&gt;2&lt;/option&gt;
  &lt;option&gt;3&lt;/option&gt;
  &lt;option&gt;4&lt;/option&gt;
  &lt;option&gt;5&lt;/option&gt;
&lt;/select&gt;</code></pre>
			
			<!-- CAMPOS CON ICONOS -->
			
			<h3>Campos con íconos</h3>
			<h6>* Usar icon-fonts, en este caso usamos Font Awesome</h6>
			<div class="example">
				<form>
					<div class="form-group cl-icons">
						<i class="fa fa-user"></i>
						<label for="input3">Nombre Completo:</label>
						<input type="email" id="input3" class="form-control" placeholder="Ingresa tu nombre completo">
					</div>
					<div class="form-group cl-icons">
						<i class="fa fa-phone"></i>
						<label for="input4">Teléfono:</label>
						<input type="text" id="input4" class="form-control" placeholder="Ingresa tu número de teléfono">
					</div>
					<div class="form-group cl-icons">
						<i class="fa fa-map-marker"></i>
						<label for="input5">Ubicación:</label>
						<select class="form-control">
							<option>Elige una ubicación</option>
							<option>Lima</option>
							<option>Jauja</option>
							<option>Pasco</option>
						</select>
					</div>
				</form>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show10"> Ver código
				</label>
			</div>
			<pre ng-show="show10"><code class="prettyprint lang-html">&lt;div class="form-group cl-icons"&gt;
  &lt;i class="fa fa-user"&gt;&lt;/i&gt;
  &lt;label for="input3"&gt;Nombre Completo:&lt;/label&gt;
  &lt;input type="email" id="input3" class="form-control" placeholder="Ingresa tu nombre completo"&gt;
&lt;/div&gt;
&lt;div class="form-group cl-icons"&gt;
  &lt;i class="fa fa-map-marker"&gt;&lt;/i&gt;
  &lt;label for="input5"&gt;Ubicación:&lt;/label&gt;
  &lt;select class="form-control"&gt;
    &lt;option&gt;Elige una ubicación&lt;/option&gt;
    &lt;option&gt;Lima&lt;/option&gt;
    &lt;option&gt;Jauja&lt;/option&gt;
    &lt;option&gt;Pasco&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;</code></pre>
			
			<!-- FORMULARIO HORIZONTAL -->
			
			<h3>Formulario Horizontal</h3>
			<div class="example">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox"> Recordarme
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn">Ingresar</button>
						</div>
					</div>
				</form>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show11"> Ver código
				</label>
			</div>
			<pre ng-show="show11"><code class="prettyprint lang-html">&lt;form class="form-horizontal"&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="inputEmail3" class="col-sm-2 control-label"&gt;Email&lt;/label&gt;
    &lt;div class="col-sm-10"&gt;
      &lt;input type="email" class="form-control" id="inputEmail3" placeholder="Email"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="inputPassword3" class="col-sm-2 control-label"&gt;Password&lt;/label&gt;
    &lt;div class="col-sm-10"&gt;
      &lt;input type="password" class="form-control" id="inputPassword3" placeholder="Password"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="form-group"&gt;
    &lt;div class="col-sm-offset-2 col-sm-10"&gt;
      &lt;div class="checkbox"&gt;
	    &lt;label&gt;
		  &lt;input type="checkbox"&gt; Recordarme
		&lt;/label&gt;
	  &lt;/div&gt;
	&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="form-group"&gt;
	&lt;div class="col-sm-offset-2 col-sm-10"&gt;
	  &lt;button type="submit" class="btn"&gt;Ingresar&lt;/button&gt;
	&lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;</code></pre>
			
			<!-- TÍTULOS -->
			
			<h3 id="textos">Títulos</h3>
			<div class="example">
				<h1>Ejemplo para títulos H1</h1>
				<h2>Ejemplo para títulos H2</h2>
				<h3>Ejemplo para títulos H3</h3>
				<h4>Ejemplo para títulos H4</h4>
				<h5>Ejemplo para títulos H5</h5>
				<h6>Ejemplo para títulos H6</h6>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show12"> Ver código
				</label>
			</div>
			<pre ng-show="show12"><code class="prettyprint lang-html">&lt;h1&gt;Ejemplo para títulos H1&lt;/h1&gt;
&lt;h2&gt;Ejemplo para títulos H2&lt;/h2&gt;
&lt;h3&gt;Ejemplo para títulos H3&lt;/h3&gt;
&lt;h4&gt;Ejemplo para títulos H4&lt;/h4&gt;
&lt;h5&gt;Ejemplo para títulos H5&lt;/h5&gt;
&lt;h6&gt;Ejemplo para títulos H6&lt;/h6&gt;</code></pre>
			
			<!-- PARRAFOS -->
			
			<h3 id="textos">Parrafos</h3>
			<div class="example">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ante erat. <strong>Nam mauris augue, consectetur non lacus laoreet</strong>, convallis cursus ex. Duis sed ex sit amet augue laoreet feugiat vel nec sem. Phasellus finibus vestibulum quam id imperdiet. <u>Vestibulum sed nisl placerat</u>, egestas eros nec, luctus odio.</p>
				<p><em>Praesent mattis, erat eu lacinia feugiat, orci sapien fermentum metus, et ornare ipsum tortor nec arcu.</em> Mauris luctus venenatis volutpat. Integer rutrum auctor elementum. Suspendisse lobortis mattis velit sit amet condimentum. Mauris a elit posuere, condimentum augue sit amet, <s>scelerisque sem</s>. Mauris mattis dictum tincidunt. Quisque ac posuere nisi. <small>Nulla sodales eget felis sit amet dapibus.</small></p>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show13"> Ver código
				</label>
			</div>
			<pre ng-show="show13"><code class="prettyprint lang-html">&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ante erat. &lt;strong&gt;Nam mauris augue, consectetur non lacus laoreet&lt;/strong&gt;, convallis cursus ex. Duis sed ex sit amet augue laoreet feugiat vel nec sem. Phasellus finibus vestibulum quam id imperdiet. &lt;u&gt;Vestibulum sed nisl placerat&lt;/u&gt;, egestas eros nec, luctus odio.&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Praesent mattis, erat eu lacinia feugiat, orci sapien fermentum metus, et ornare ipsum tortor nec arcu.&lt;/em&gt; Mauris luctus venenatis volutpat. Integer rutrum auctor elementum. Suspendisse lobortis mattis velit sit amet condimentum. Mauris a elit posuere, condimentum augue sit amet, &lt;s&gt;scelerisque sem&lt;/s&gt;. Mauris mattis dictum tincidunt. Quisque ac posuere nisi. &lt;small&gt;Nulla sodales eget felis sit amet dapibus.&lt;/small&gt;<&lt;/p&gt;</code></pre>
			
			<!-- ALERTAS -->
			
			<h3 id="alertas">Alertas</h3>
			<div class="example">
				<div class="alert alert-success" role="alert"><strong>¡Bien hecho!</strong> Usted lee con éxito este mensaje de alerta importante.</div>
				<div class="alert alert-info" role="alert"><strong>¡Aviso!</strong> Esta alerta necesita su atención, pero no es super importante.</div>
				<div class="alert alert-warning" role="alert"><strong>¡Advertencia!</strong> Mejor no intentarlo porque puede ocurrir algo extraño.</div>
				<div class="alert alert-danger" role="alert"><strong>¡No puede ser!</strong> Cambia algunas cosas y trata de enviar de nuevo.</div>
			</div>
			<div class="checkbox cl-sm">
				<label>
					<input type="checkbox" ng-model="show14"> Ver código
				</label>
			</div>
			<pre ng-show="show14"><code class="prettyprint lang-html">&lt;div class="alert alert-success" role="alert"&gt;&lt;strong&gt;¡Bien hecho!&lt;/strong&gt; Usted lee con éxito este mensaje de alerta importante.&lt;/div&gt;
&lt;div class="alert alert-info" role="alert"&gt;&lt;strong&gt;¡Aviso!&lt;/strong&gt; Esta alerta necesita su atención, pero no es super importante.&lt;/div&gt;
&lt;div class="alert alert-warning" role="alert"&gt;&lt;strong&gt;¡Advertencia!&lt;/strong&gt; Mejor no intentarlo porque puede ocurrir algo extraño.&lt;/div&gt;
&lt;div class="alert alert-danger" role="alert"&gt;&lt;strong&gt;¡No puede ser!&lt;/strong&gt; Cambia algunas cosas y trata de enviar de nuevo.&lt;/div&gt;</code></pre>

		<!-- FIN DE CODIGOS Y EJEMPLOS -->

		</div>

		<!-- INICIO DE SIDEBAR -->

		<div class="col-md-3">
			<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="240" data-offset-bottom="100">
				<ul class="nav bs-docs-sidenav">
					<li><a href="#botones">Botones</a></li>
					<li><a href="#formularios">Formularios</a></li>
					<li><a href="#textos">Textos</a></li>
					<li><a href="#alertas">Alertas</a></li>
					<li><a href="#top">Subir</a></li>
				</ul>

			</nav>
		</div>
	</div>
	<!-- FIN DE CODIGOS Y EJEMPLOS -->
		<p>&nbsp;</p>
		<p>Desarrollado por César J. Aquino Maximiliano <a href="http://twitter.com/cesjam7" target="blank">(@cesjam7)</a></p>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>